.sidebar {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	font-family: Montserrat Alternates, -apple-system, Roboto, Helvetica, sans-serif;
	padding: 80px 20px;
	width: min-content;
	height: auto;
}

.header {
	display: flex;
	width: 100%;
	gap: 20px;
	height: 1%;
	flex-wrap: wrap;
	justify-content: space-between;
}


.logo-container {
	display: flex;
	font-size: 20px;
	color: rgba(255, 64, 64, 1);
	font-weight: 600;
	white-space: nowrap;
	padding: 30px;
}

.logo {
	object-fit: contain;
	object-position: center;
	width: 50px;
}

.brand-name {
	flex-basis: auto;
	margin: auto 0;
	margin-left: 21px;
}

.search-bar {
	border-radius: 32px;
	background-color: rgba(255, 255, 255, 1);
	display: flex;
	gap: 40px 100px;
	font-size: 24px;
	color: rgba(159, 159, 159, 1);
	font-weight: 400;
	flex-wrap: wrap;
	margin: auto 0;
	padding: 20px 30px;
}

.main-container {
	display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    padding: 80px 20px;
    margin: auto 0;
	z-index: 1;
}

.search-icon {
	background-color: rgba(217, 217, 217, 0);
	border-radius: 50%;
	align-self: start;
	display: flex;
	width: 17px;
	height: 18px;
	border: 2px solid rgba(159, 159, 159, 1);
}

.search-placeholder {
	flex-grow: 1;
}


.nav-item {
	color: rgba(255, 64, 64, 1);
	font-size: 24px;
	font-weight: 500;
	margin: 16px 0 16px 26px;
	text-decoration: none;
	padding: 7px 26px;
	white-space: nowrap;
}

.nav-item-active {
	border-radius: 28px;
	background-color: rgba(255, 64, 64, 1);
	font-size: 24px;
	color: rgba(255, 255, 255, 1);
	font-weight: 500;
	text-decoration: none;
	padding: 7px 26px;
}

.nav-item-logout {
	margin: 100% 0 0 22px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/* .drop-section{
	border: 1px dashed #A8B3E3;
	background-image: linear-gradient(180deg, rgb(247, 42, 42), #586174);
	margin: 35px 35px 35px 35px;
	border-radius: 12px;
	position: absolute;
	width: 100%;
	height: auto;
 }  */

.workarea{
	border: 2px solid #8d8a8a;
	margin: 30px 30px 30px 30px;
	border-radius: 12px;
	position: relative;
	width: 100%;
	height: auto;	
}

.drop-section {
    position: absolute; /* Установите абсолютное позиционирование */
    top: 0; /* Находимся в верхней части */
    left: 0; /* Прижимаемся к левому краю */
    width: 100%; /* Занимаем всю ширину */
    height: 100%; /* Занимаем всю высоту рабочей области */
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон */
    display: flex; /* Используем flex для центрирования содержимого */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
	opacity: 0;
	pointer-events: none; /* Отключаем взаимодействие с мышью */
    transition: opacity 0.3s ease; /* Плавный переход для видимости z*/
	z-index: 2;
}

.drop-here {
    padding: 20px;
    border: 2px dashed #ccc; /* Дизайн рамки для области сброса */
    text-align: center; /* Центрируем текст */
}

.drop-section.drag-over {
    opacity: 1; /* Делаем видимым при добавлении класса */
    pointer-events: auto; /* Включаем взаимодействие с мышью */
}
