body {
    background: linear-gradient(to bottom right, #F3EBE3, #E4EBFF);
    margin: 0;
    padding: 0;
    height: 100vh; /* Убедитесь, что фон занимает всю высоту окна */
	display: flex;
	flex-direction: column;
    justify-content: center; /* Чтобы элементы были по центру вертикали */
    align-items: center;
}


.sidebar {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	font-family: Montserrat Alternates, -apple-system, Roboto, Helvetica, sans-serif;
	margin: 30px 0px 30px 0px;
	width: 300px;
	height: auto;
}

.header {
	display: flex;
	width: 100%;
	height: min-content;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between; /* Чтобы распределить элементы по сторонам */

}


.logo-container {
	display: flex;
	font-size: 20px;
	color: rgba(255, 64, 64, 1);
	font-weight: 600;
	white-space: nowrap;
	padding: 30px;
}

.logo {
	object-fit: contain;
	object-position: center;
	width: 50px;
}

.brand-name {
    flex-basis: auto;
    margin: auto 0;
    margin-left: 21px;
    font-family: 'Montserrat Alternates', -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 500; /* SemiBold */
    font-size: 40px; /* Изображение показывает 40px */
}

.main-container {
	display: flex;
    flex-direction: row;
    width: 100%;
	height: 100%;
    margin: auto 0;
	z-index: 1;
}


.search-container {
    position: absolute;
	left: 50%; /* Сдвигаем в центр */
    transform: translateX(-50%); /* Центрируем элемент по оси X */
    width: 30%; 
}

.search-input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 30px; /* Округлённые края */
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для объёма */
    font-size: 18px;
    background: linear-gradient(145deg, #f3ebe3, #e4ebff); /* Градиентный фон */
    outline: none;
}

.search-input::placeholder {
    color: #aaa;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif; /* Стиль для текста */
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #aaa;
    pointer-events: none;
}




.nav-item {
	color: rgba(255, 64, 64, 1);
	font-size: 24px;
	font-weight: 500;
	margin: 16px 0 16px 26px;
	text-decoration: none;
	padding: 7px 26px;
	white-space: nowrap;
}

.nav-item-active {
	border-radius: 28px;
	background-color: rgba(255, 64, 64, 1);
	font-size: 24px;
	color: rgba(255, 255, 255, 1);
	font-weight: 500;
	text-decoration: none;
	padding: 7px 26px;
}

.nav-item-logout {
	margin: auto 0 40px 22px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.workarea{
	border: 3px solid #D7D1CE;
	margin: 30px 60px 30px 30px;
	border-radius: 30px;
	position: relative;
	width: 100%;
	height: auto;	
	/* background-color: #f9eeee; */
}

.drop-section {
    position: absolute; /* Установите абсолютное позиционирование */
    top: 0; /* Находимся в верхней части */
    left: 0; /* Прижимаемся к левому краю */
    width: 100%; /* Занимаем всю ширину */
    height: 100%; /* Занимаем всю высоту рабочей области */
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон */
    display: flex; /* Используем flex для центрирования содержимого */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
	opacity: 0;
	pointer-events: none; /* Отключаем взаимодействие с мышью */
    transition: opacity 0.3s ease; /* Плавный переход для видимости z*/
	z-index: 2;
}

.drop-here {
    padding: 20px;
    border: 2px dashed #ccc; /* Дизайн рамки для области сброса */
    text-align: center; /* Центрируем текст */
}

.drop-section.drag-over {
    opacity: 1; /* Делаем видимым при добавлении класса */
    pointer-events: auto; /* Включаем взаимодействие с мышью */
}
