<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupDisk</title>
    <link rel="apple-touch-icon" href="../static/logo.svg">
    <link rel="apple-touch-icon-precomposed" href="../static/logo.svg">
    <link rel="icon" type="image/svg+xml" href="../static/logo.svg">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img loading="lazy" src="../static/logo.svg" class="logo" alt="GroupDisk logo" />
            <h1 class="brand-name">GroupDisk</h1>
        </div>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search files">
            <i class="search-icon">&#128269;</i>
        </div>
        
    </header>

    <div class="main-container">
        <nav class="sidebar" aria-label="Main Navigation">
            <a href="#overview" class="nav-item nav-item-active">overview</a>
            <a href="#my-files" class="nav-item">my files</a>
            <a href="#shared" class="nav-item">shared</a>
            <a href="#deadlines" class="nav-item">deadlines</a>
            <a href="#deleted" class="nav-item">deleted</a>
            <a href="{{ url_for('auth_routes.logout') }}" class="nav-item nav-item-logout">logout</a>
        </nav>
        <div class="drop-section">
                <div class="col">
                    <div class="drop-here">Drop your files here</div>
                </div>
            </div>
        <div class="workarea">
        </div>
    </div>
        
    </body>

</body>
    <script type="text/javascript" src="../static/home.js"></script>
</html>